@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}


body {
  background-color: #fff;
  overflow: hidden;
}
.box {
  position: relative;
  top: 30%;
  left: 10%;
  text-align: left;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-stroke: 0.5px;
  color: #333333;
  z-index: -100;
}
.box .swap {
  display: inline-block;
  position: relative;
  min-width: 1em;
  min-height: 1em;
  transition-duration: 0.5s;
  transition-property: transform width;
  z-index: -100;
}
.box .swap li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  white-space: nowrap;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  background-color: white;
  color: grey;
  transition-duration: 0.5s;
  transition-property: opacity;
  z-index: -100;
}
.box .swap li.visible {
  opacity: 1;
}

@media screen and (max-width: 400px) {
	.box {
  position: relative;
  top: 30%;
  left: 10%;
  text-align: left;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-stroke: 0.5px;
  color: #333333;
  z-index: -100;
}
	
}

	